
.custom-background {
    background-image: url('../assets/images/testimage.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }

.centered-div {
    display: block;
    place-items: center; 
    align-items: center; 
    height: 85vh;
    margin: 50px;
  }

